{% extends '_layout.html' %}
{% set active_page = 'login' %}

{% block content %}
    <p>Example login: test/test</p>
    <form class="form-horizontal" method="post">
        {% from "_helpers.html" import render_field %}

        {{ render_field(form.username) }}
        {{ render_field(form.password) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Log in</button>
            </div>
        </div>
    </form>
{% endblock %}
